html {
  text-align: center;
  background-color: #B4CFE3;
}

h2 {
  color: #3F7FBF;
  font-family: 'Staatliches';
  letter-spacing: 1px;
}

img {
  border: 1px solid black;
  display: block; /* images are inline elements. It is not possible to apply margin or spacing values to inline elements. So to apply margins to the image, we must give the image block-level behavior using display: block;. */
  margin: 0 auto;
}

body {
  width: 600px;
  margin: 10px auto;
  background-color: #EAEAEB;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

a:hover {
  color: #3FBF7F;
}
